body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    
}
header {

    position: relative;
}
img{
    width: 100%;
}
ul{
    padding: 0%;
}

.header-image {
    height: 500px;

}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 1px black;

}

.navigation-area {

    position: fixed;
    top: 0%;
    width: 100%;
    color: white;

    box-sizing: border-box;
    background-color: rgba(0,0,0 ,50%);




}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}
.navigation-list a{
    color: white;
}

.heading-box {

    color: darkolivegreen;
    margin: 25px auto;
    width: fit-content;
    border-bottom: 3px solid darkolivegreen;

}
.theme-heading {
    margin: 0%;
    font-size: 30px;
}

.info-list{

    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    

}

.info-list button{
    color: white;
    background: none;
    border: 1px solid white;
    height: 45px;
    padding: 5px 10px;
    margin: 10px 0;   
    border-radius: 15px

}

.info-list button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.5s ease-in-out;
}

.info-list p{
    margin: 5px 0;
    color: white;
    font-size: 22px;

}

.info-list h4{

color: white;
margin: 0;
width: fit-content;
font-size: 26px;

}

.info-list-item {

    height: 250px;
    display: flex;
    width: 40vw;
    border-radius: 27px;

}

.info-list-image {

    object-fit: cover;
    border-radius: 27px;
}
.info-description {

    border-bottom-right-radius: 27px ;
    padding: 20px;
    
    
}




.giraffe {

    background-color: darkolivegreen;
    
}
.freizeitpark {

        background-color: rgb(167, 68, 43);

}
.übernachten {

        background-color: darkcyan ;

}
.events {
    background-color: darkgoldenrod;
}

/* **************************************** */

.news-box {

display: flex;
/* height: fit-content; */
max-width: 1200px;
padding-left: 1rem;
padding-right: 1rem;
margin: auto;
gap: 10px;

}
.news-description h3 {

    color: rgb(44, 13, 13);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

.news-description p {

    margin: 0;
    color: rgb(44, 13, 13) ;
}
.description-image {

    border-radius: 26px;
}



/******************************************* */


.event-list {
    display: flex;
    justify-content:space-around;
    gap: 12px;
    list-style: none;

}
.event-list-item {

    display:flex;
    width: 30vw;
    flex-direction: column;
   


}

.event-list-item img{
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.event-box {

    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1200px;
    margin: 50px auto;

    
}
.event-description {
    background-color: rgb(94, 48, 48);
    padding: 5px 20px 25px;
    height: 200px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.event-description h4 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid orange;

}

.event-description button {

    color: white;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}
.event-description button:hover{

    background-color: darkorange;
    cursor:pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;

}
.event-description p {
    font-size: 18px;
    color: white;
}
.education-box {

    /* padding-left: 1rem;
    padding-right: 1rem; */
    /* max-width: 1200px; */
    margin: 50px auto;
    position: relative;

}

.education-box-info {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(94, 48, 48);
    color: white;
    border-radius: 30px;
    padding: 10px 25px;
    
}
.education-box-info h3 {
    border-bottom: 3px solid orange;
    font-size: 28px;
    font-family: sans-serif;
}

.link-section-item {

color: white;
  
}
.one {

    background-image: url(/images/showandevents.jpeg);
    height: 500px;
    width: 500px;
    background-size: cover;
}
.two {

    background-image: url(/images/trip.webp);
     height: 500px;
    width: 500px;
    background-size: cover;
}
.three {

    background-image: url(/images/parkplan.jpg);
     height: 500px;
    width: 500px;
    background-size: cover;
}
.four {
    background-image: url(/images/sleepover-second.jpg);
     height: 500px;
    width: 500px;
    background-size: cover;
}
.five {
    background-color: darkgoldenrod;
}
.six {
    background-color: rgb(155, 50, 50);
    
}